/* -------------------- Abstracts Files -------------------- */
/* -------------------- Components Files -------------------- */
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  /* This kind of backgorund is necessary in order the button works */
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
    .btn {
      font-size: 1.3vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .btn {
      font-size: 1.3vw; } }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .btn {
      font-size: 2.5vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .btn {
      font-size: 2.5vw; } }
  @media only screen and (max-width: 31.25em) {
    .btn {
      font-size: 3.5vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .btn {
      font-size: 3.5vw; } }
  .btn > * {
    height: 100%;
    width: 100%;
    transition: all .3s;
    display: inline-block; }
  .btn__visible {
    padding: 2rem 0rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .btn__visible {
        font-size: 1.3vw;
        padding: 3rem 0rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn__visible {
        font-size: 1.3vw;
        padding: 3rem 0rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn__visible {
        font-size: 4vw; } }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .btn:hover .btn__visible {
        transform: translateY(0); } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn:hover .btn__visible {
        transform: translateY(0); } }
  .btn:hover .btn__invisible {
    top: 0; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .btn:hover .btn__invisible {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn:hover .btn__invisible {
        display: none; } }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn--link {
  font-size: 2.5vw;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  /* This kind of backgorund is necessary in order the button works */
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 31.25em) {
    .btn--link {
      font-size: 4vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .btn--link {
      font-size: 4vw; } }
  .btn--link > * {
    height: 100%;
    width: 100%;
    transition: all .3s;
    display: inline-block; }
  .btn--link__visible {
    padding: 2rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .btn--link__visible {
        padding: 8rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn--link__visible {
        padding: 8rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn--link__visible {
        padding: 2rem 0; } }
  .btn--link__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: 100%; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .btn--link__invisible {
        padding: 8rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn--link__invisible {
        padding: 8rem; } }
  .btn--link:hover .btn--link__visible {
    transform: translateY(-100%); }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .btn--link:hover .btn--link__visible {
        transform: translateY(0); } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn--link:hover .btn--link__visible {
        transform: translateY(0); } }
  .btn--link:hover .btn--link__invisible {
    top: 0; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .btn--link:hover .btn--link__invisible {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .btn--link:hover .btn--link__invisible {
        display: none; } }
  .btn--link:focus {
    outline: none;
    animation: pulsate 1s infinite; }

/* -------------------- Base Files -------------------- */
:root {
  --color-primary: #ef3f35;
  --color-secondary: #ffce22; }

/* RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px; */
* {
  outline: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::-webkit-scrollbar {
  display: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*@media only screen and (max-width: $bp-largest) {
      font-size: 50%;
  } */ }

body {
  font-family: "Nunito", sans-serif;
  color: #f9f7f6;
  font-weight: 300;
  line-height: 1.6;
  background-color: #ef3f35; }

a {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-rows: minmax(5rem, 8vh) min-content 1fr repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

/**
          -MinMax function allows to define a min an max size content.
          -[] define de name of the columns.
*/
.u-big-title, .u-md-title, .u-sub-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.u-big-title {
  font-size: 4.5vw;
  line-height: 1; }
  .u-big-title--light {
    color: #fff; }
  .u-big-title--dark {
    color: #000; }
  @media only screen and (max-width: 31.25em) {
    .u-big-title {
      font-size: 6vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .u-big-title {
      font-size: 6vw; } }

.u-md-title {
  font-size: 4.5rem;
  line-height: 1; }
  .u-md-title--light {
    color: #fff; }
  .u-md-title--dark {
    color: #000; }

.u-sub-title {
  font-size: 1.4vw;
  line-height: 1; }
  .u-sub-title--light {
    color: #fff; }
  .u-sub-title--dark {
    color: #000; }
  @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
    .u-sub-title {
      font-size: 1.4vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .u-sub-title {
      font-size: 1.4vw; } }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .u-sub-title {
      font-size: 2.5vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .u-sub-title {
      font-size: 2.5vw; } }
  @media only screen and (max-width: 31.25em) {
    .u-sub-title {
      font-size: 4.5vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .u-sub-title {
      font-size: 4.5vw; } }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

/* ==================================================
/////////////// ANIMATIONS & EFFECTS ////////////////
================================================== */
@keyframes moveInLeft {
  /* create an animation @ketyframes name_animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* create an animation @ketyframes name_animation */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* create an animation @ketyframes name_animation */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0; }
  8.3%, 25% {
    left: 25%;
    opacity: 1; }
  33.33%, 100% {
    left: 110%;
    opacity: 0; } }

@keyframes anim-2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0; }
  41.63%, 58.29% {
    left: 25%;
    opacity: 1; }
  66.66%, 100% {
    left: 110%;
    opacity: 0; } }

@keyframes anim-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0; }
  74.96%, 91.62% {
    left: 25%;
    opacity: 1; }
  100% {
    left: 110%;
    opacity: 0; } }

/* -------------------- Layout Files -------------------- */
.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(239, 63, 53, 0.3), rgba(255, 206, 34, 0.3)), url(../../img/bg-header.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: minmax(30rem, 60vh);
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .header {
      grid-column: full-start / full-end;
      grid-template-rows: minmax(30rem, 40vh); } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .header {
      grid-column: full-start / full-end;
      grid-template-rows: minmax(30rem, 40vh); } }
  @media only screen and (max-width: 31.25em) {
    .header {
      grid-template-rows: minmax(15rem, 25vh); } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .header {
      grid-template-rows: minmax(15rem, 25vh); } }
  @media only screen and (max-width: 25em) {
    .header {
      grid-template-rows: minmax(10rem, 20vh); } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .header {
      grid-template-rows: minmax(10rem, 20vh); } }
  .header__title {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center; }
    .header__title h1 {
      line-height: 50%; }
      @media only screen and (max-width: 31.25em) {
        .header__title h1 {
          line-height: 25%;
          width: 100vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .header__title h1 {
          line-height: 25%;
          width: 100vw; } }
      .header__title h1 .small-text {
        display: block;
        font-size: 2.5vw;
        background-color: rgba(249, 247, 246, 0.6);
        padding: 2rem 2rem;
        animation: moveInRight 1s ease-out;
        /* call the animation with atributtes*/ }
        @media only screen and (max-width: 50em), only screen and (hover: none) {
          .header__title h1 .small-text {
            font-size: 4vw; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .header__title h1 .small-text {
            font-size: 4vw; } }
        @media only screen and (max-width: 31.25em) {
          .header__title h1 .small-text {
            font-size: 4vw;
            padding: 1rem 1rem;
            margin-left: 10vw;
            margin-right: 10vw; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .header__title h1 .small-text {
            font-size: 4vw;
            padding: 1rem 1rem;
            margin-left: 10vw;
            margin-right: 10vw; } }
      .header__title h1 .big-text {
        display: block;
        font-size: 5.5vw;
        animation: moveInLeft 1s ease-out;
        /* call the animation with atributtes*/ }
        @media only screen and (max-width: 50em), only screen and (hover: none) {
          .header__title h1 .big-text {
            font-size: 8.5vw; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .header__title h1 .big-text {
            font-size: 8.5vw; } }
        @media only screen and (max-width: 31.25em) {
          .header__title h1 .big-text {
            font-size: 8vw; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .header__title h1 .big-text {
            font-size: 8vw; } }

.headbar {
  background-color: #000;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 31.25em) {
    .headbar {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .headbar {
      grid-template-columns: 1fr; } }
  .headbar__title {
    display: grid;
    align-self: center;
    font-size: 2vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 2rem; }
    .headbar__title a {
      color: #fff;
      transition: all .2s; }
      .headbar__title a:hover {
        color: #888888; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .headbar__title {
        font-size: 2.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .headbar__title {
        font-size: 2.5vw; } }
    @media only screen and (max-width: 31.25em) {
      .headbar__title {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .headbar__title {
        display: none; } }
  .headbar__phone {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding-right: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .headbar__phone {
        justify-content: center;
        align-self: center; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .headbar__phone {
        justify-content: center;
        align-self: center; } }
    .headbar__phone .fa-mobile-alt {
      color: #ffce22;
      font-size: 2vw;
      margin-right: 1rem; }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .headbar__phone .fa-mobile-alt {
          font-size: 4vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar__phone .fa-mobile-alt {
          font-size: 4vw; } }
      @media only screen and (max-width: 31.25em) {
        .headbar__phone .fa-mobile-alt {
          font-size: 7vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar__phone .fa-mobile-alt {
          font-size: 7vw; } }
    .headbar__phone a, .headbar__phone span {
      font-size: 1.15vw;
      transform: translateY(5px); }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .headbar__phone a, .headbar__phone span {
          font-size: 2vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar__phone a, .headbar__phone span {
          font-size: 2vw; } }
      @media only screen and (max-width: 31.25em) {
        .headbar__phone a, .headbar__phone span {
          font-size: 4vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar__phone a, .headbar__phone span {
          font-size: 4vw; } }
    .headbar__phone span {
      margin-left: .5rem;
      margin-right: .5rem; }
    .headbar__phone a {
      color: #fff;
      transition: all .2s; }
      .headbar__phone a:hover, .headbar__phone a:active {
        color: gray; }
        @media only screen and (max-width: 50em), only screen and (hover: none) {
          .headbar__phone a:hover, .headbar__phone a:active {
            color: #fff; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .headbar__phone a:hover, .headbar__phone a:active {
            color: #fff; } }

.headbar-menu {
  background-color: #000;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 31.25em) {
    .headbar-menu {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .headbar-menu {
      grid-template-columns: 1fr; } }
  .headbar-menu__title {
    display: grid;
    align-self: center;
    font-size: 2vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 2rem; }
    .headbar-menu__title a {
      color: #fff;
      transition: all .2s; }
      .headbar-menu__title a:hover {
        color: #888888; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .headbar-menu__title {
        font-size: 2.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .headbar-menu__title {
        font-size: 2.5vw; } }
    @media only screen and (max-width: 31.25em) {
      .headbar-menu__title {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .headbar-menu__title {
        display: none; } }
  .headbar-menu__phone {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding-right: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .headbar-menu__phone {
        justify-content: center;
        align-self: center; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .headbar-menu__phone {
        justify-content: center;
        align-self: center; } }
    .headbar-menu__phone .fa-arrow-left {
      display: none; }
      @media only screen and (max-width: 31.25em) {
        .headbar-menu__phone .fa-arrow-left {
          display: flex;
          color: #ffce22;
          font-size: 6vw;
          margin-right: 1rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar-menu__phone .fa-arrow-left {
          display: flex;
          color: #ffce22;
          font-size: 6vw;
          margin-right: 1rem; } }
    .headbar-menu__phone .fa-mobile-alt {
      color: #ffce22;
      font-size: 2vw;
      margin-right: 1rem; }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .headbar-menu__phone .fa-mobile-alt {
          font-size: 4vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar-menu__phone .fa-mobile-alt {
          font-size: 4vw; } }
      @media only screen and (max-width: 31.25em) {
        .headbar-menu__phone .fa-mobile-alt {
          display: none; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar-menu__phone .fa-mobile-alt {
          display: none; } }
    .headbar-menu__phone a, .headbar-menu__phone span {
      font-size: 1.15vw;
      transform: translateY(5px); }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .headbar-menu__phone a, .headbar-menu__phone span {
          font-size: 2vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar-menu__phone a, .headbar-menu__phone span {
          font-size: 2vw; } }
      @media only screen and (max-width: 31.25em) {
        .headbar-menu__phone a, .headbar-menu__phone span {
          font-size: 4vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .headbar-menu__phone a, .headbar-menu__phone span {
          font-size: 4vw; } }
    .headbar-menu__phone span {
      margin-left: .5rem;
      margin-right: .5rem; }
    .headbar-menu__phone a {
      color: #fff;
      transition: all .2s; }
      .headbar-menu__phone a:hover, .headbar-menu__phone a:active {
        color: gray; }
        @media only screen and (max-width: 50em), only screen and (hover: none) {
          .headbar-menu__phone a:hover, .headbar-menu__phone a:active {
            color: #fff; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .headbar-menu__phone a:hover, .headbar-menu__phone a:active {
            color: #fff; } }

.footer {
  background-color: #000;
  grid-column: full-start / full-end;
  padding: 8rem; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      padding: 0; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .footer {
      padding: 0; } }
  .footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-top: solid #ef3f35;
    padding-top: 4rem;
    margin-bottom: -5rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .footer .copyright {
        font-size: 1vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer .copyright {
        font-size: 1vw; } }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .footer .copyright {
        margin-bottom: 0rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer .copyright {
        margin-bottom: 0rem; } }
    @media only screen and (max-width: 64em) and (min-height: 85.375em) {
      .footer .copyright {
        font-size: 2rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer .copyright {
        font-size: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer .copyright {
        font-size: 2.7vw;
        margin: 0 5vw 1rem 5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer .copyright {
        font-size: 2.7vw;
        margin: 0 5vw 1rem 5vw; } }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .footer__container {
        grid-template-columns: 1fr; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__container {
        grid-template-columns: 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .footer__contact {
      margin-top: 3rem;
      margin-left: 5vw;
      margin-right: 5vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .footer__contact {
      margin-top: 3rem;
      margin-left: 5vw;
      margin-right: 5vw; } }
  .footer__contact .branchs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .footer__contact .branchs {
        grid-template-columns: 1fr;
        margin-left: 10vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact .branchs {
        grid-template-columns: 1fr;
        margin-left: 10vw; } }
  .footer__contact h3 {
    border-bottom: solid #ffce22;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .footer__contact h3 {
        font-size: 6vw;
        display: flex;
        justify-content: center; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact h3 {
        font-size: 6vw;
        display: flex;
        justify-content: center; } }
  .footer__contact a {
    color: #fff;
    font-size: 1.8rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .footer__contact a {
        font-size: 1.2vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact a {
        font-size: 1.2vw; } }
    @media only screen and (max-width: 73.75em) {
      .footer__contact a {
        font-size: 1.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact a {
        font-size: 1.5vw; } }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .footer__contact a {
        font-size: 2.2vw; }
        .footer__contact a .number-2 {
          margin-top: 3rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact a {
        font-size: 2.2vw; }
        .footer__contact a .number-2 {
          margin-top: 3rem; } }
    @media only screen and (max-width: 64em) and (min-height: 85.375em) {
      .footer__contact a .number-2 {
        margin-top: 4rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact a .number-2 {
        margin-top: 4rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer__contact a {
        font-size: 4vw; }
        .footer__contact a .number-2 {
          margin-top: 0rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__contact a {
        font-size: 4vw; }
        .footer__contact a .number-2 {
          margin-top: 0rem; } }
    .footer__contact a .fa-map-marker {
      color: #888888; }
    .footer__contact a .fa-mobile-alt {
      color: #ffce22; }
  .footer__social .media {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-left: 20%; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .footer__social .media {
        display: flex;
        justify-content: flex-end;
        margin-left: 0;
        margin-bottom: 2rem;
        grid-template-rows: 1fr; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social .media {
        display: flex;
        justify-content: flex-end;
        margin-left: 0;
        margin-bottom: 2rem;
        grid-template-rows: 1fr; } }
    @media only screen and (max-width: 31.25em) {
      .footer__social .media {
        justify-content: center; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social .media {
        justify-content: center; } }
  .footer__social h3 {
    margin-left: 20%;
    border-bottom: solid #ffce22;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .footer__social h3 {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social h3 {
        display: none; } }
  .footer__social p {
    color: #fff;
    font-size: 1.8rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .footer__social p {
        font-size: 1.2vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social p {
        font-size: 1.2vw; } }
    @media only screen and (max-width: 73.75em) {
      .footer__social p {
        font-size: 1.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social p {
        font-size: 1.5vw; } }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .footer__social p {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social p {
        display: none; } }
  .footer__social a .fa-facebook-f {
    margin-right: 2rem;
    font-size: 4rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .footer__social a .fa-facebook-f {
        font-size: 3vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social a .fa-facebook-f {
        font-size: 3vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social a .fa-facebook-f {
        font-size: 13vw; } }
  .footer__social a .fa-instagram {
    font-size: 4.7rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .footer__social a .fa-instagram {
        font-size: 3.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social a .fa-instagram {
        font-size: 3.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .footer__social a .fa-instagram {
        font-size: 15vw; } }
  .footer__social a .fa-facebook-f, .footer__social a .fa-instagram {
    color: #888888;
    margin-top: 2rem; }
  .footer__social a .fa-mobile-alt {
    color: #ffce22; }

/* -------------------- Section Files -------------------- */
.events {
  background-color: #000;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  grid-template-rows: .8fr .2fr; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .events {
      grid-column: full-start / full-end;
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .events {
      grid-column: full-start / full-end;
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 20em) {
    .events {
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .events {
      grid-template-rows: 1fr; } }
  .events__logo {
    display: grid;
    justify-items: center;
    margin-top: 3rem; }
    @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
      .events__logo {
        margin-top: 5rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .events__logo {
        margin-top: 5rem; } }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .events__logo {
        display: none; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .events__logo {
        display: none; } }
    .events__logo img {
      width: 60%; }
      @media only screen and (max-width: 73.75em) {
        .events__logo img {
          width: 80%; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__logo img {
          width: 80%; } }
  .events__form {
    width: 100%; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .events__form {
        margin-bottom: 2.5rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .events__form {
        margin-bottom: 2.5rem; } }
    .events__form h2 {
      margin-left: 10%;
      font-family: "Josefin Sans", sans-serif;
      line-height: 1.5;
      font-size: 1.62vw;
      text-transform: uppercase; }
      @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
        .events__form h2 {
          font-size: 2vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form h2 {
          font-size: 2vw; } }
      @media only screen and (max-width: 85.375em) {
        .events__form h2 {
          font-size: 1.54vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form h2 {
          font-size: 1.54vw; } }
      @media only screen and (max-width: 81.25em) {
        .events__form h2 {
          font-size: 1.45vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form h2 {
          font-size: 1.45vw; } }
      @media only screen and (max-width: 73.75em) {
        .events__form h2 {
          margin-left: 5%;
          font-size: 1.52vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form h2 {
          margin-left: 5%;
          font-size: 1.52vw; } }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .events__form h2 {
          font-size: 4.5vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form h2 {
          font-size: 4.5vw; } }
      @media only screen and (max-width: 31.25em) {
        .events__form h2 {
          font-size: 5.5vw;
          text-align: center;
          margin-left: 0; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form h2 {
          font-size: 5.5vw;
          text-align: center;
          margin-left: 0; } }
    .events__form form {
      margin-top: 2rem; }
    .events__form input, .events__form textarea {
      width: 80%;
      margin-left: 10%;
      background-color: #f9f7f6;
      color: #888888;
      font-size: 1.5rem;
      border: none;
      margin-bottom: 1rem; }
      .events__form input::placeholder, .events__form textarea::placeholder {
        color: #888888;
        font-size: 1.5rem; }
        @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
          .events__form input::placeholder, .events__form textarea::placeholder {
            font-size: 2.2rem; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .events__form input::placeholder, .events__form textarea::placeholder {
            font-size: 2.2rem; } }
        @media only screen and (max-width: 50em), only screen and (hover: none) {
          .events__form input::placeholder, .events__form textarea::placeholder {
            font-size: 1.7rem; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .events__form input::placeholder, .events__form textarea::placeholder {
            font-size: 1.7rem; } }
        @media only screen and (max-width: 31.25em) {
          .events__form input::placeholder, .events__form textarea::placeholder {
            font-size: 2.5vw; } }
        @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
          .events__form input::placeholder, .events__form textarea::placeholder {
            font-size: 2.5vw; } }
      @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
        .events__form input, .events__form textarea {
          font-size: 2.2rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input, .events__form textarea {
          font-size: 2.2rem; } }
      @media only screen and (max-width: 73.75em) {
        .events__form input, .events__form textarea {
          width: 90%;
          margin-left: 5%;
          margin-bottom: 1.5rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input, .events__form textarea {
          width: 90%;
          margin-left: 5%;
          margin-bottom: 1.5rem; } }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .events__form input, .events__form textarea {
          font-size: 1.7rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input, .events__form textarea {
          font-size: 1.7rem; } }
      @media only screen and (max-width: 31.25em) {
        .events__form input, .events__form textarea {
          font-size: 2.5vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input, .events__form textarea {
          font-size: 2.5vw; } }
    .events__form input {
      height: 3rem; }
      @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
        .events__form input {
          height: 4rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input {
          height: 4rem; } }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .events__form input {
          height: 4.5rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input {
          height: 4.5rem; } }
      @media only screen and (max-width: 31.25em) {
        .events__form input {
          height: 3rem; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form input {
          height: 3rem; } }
    .events__form button {
      margin-left: 10%;
      width: 80%; }
      @media only screen and (max-width: 73.75em) {
        .events__form button {
          width: 90%;
          margin-left: 5%; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .events__form button {
          width: 90%;
          margin-left: 5%; } }

@media only screen and (max-width: 50em), only screen and (hover: none) {
  .about {
    display: grid; } }

@media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
  .about {
    display: grid; } }

.about__media {
  background-color: #000;
  grid-column: full-start / col-end 4; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .about__media {
      grid-column: full-start / full-end;
      grid-row: -1; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .about__media {
      grid-column: full-start / full-end;
      grid-row: -1; } }

.about__story {
  background-color: #000;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .about__story {
      grid-column: full-start / full-end;
      padding: 6rem 8vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .about__story {
      grid-column: full-start / full-end;
      padding: 6rem 8vw; } }
  @media only screen and (max-width: 73.75em) {
    .about__story {
      padding: 6rem 4vw; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .about__story {
      padding: 6rem 4vw; } }
  .about__story h2 {
    background-color: #f9f7f6;
    color: #000;
    padding: 1rem 2rem;
    letter-spacing: .3rem;
    font-weight: bolder;
    margin-bottom: 2.5rem; }
  .about__story p {
    font-size: 1.3vw; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .about__story p {
        font-size: 2vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .about__story p {
        font-size: 2vw; } }
    @media only screen and (max-width: 31.25em) {
      .about__story p {
        font-size: 3.2vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .about__story p {
        font-size: 3.2vw; } }

.dishes {
  background-color: #ef3f35;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  padding: 4rem 6vw 2rem 6vw; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .dishes .dish-3 {
      display: none; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .dishes .dish-3 {
      display: none; } }
  @media only screen and (max-width: 31.25em) {
    .dishes {
      grid-gap: 0rem; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .dishes {
      grid-gap: 0rem; } }
  .dishes__box {
    background-color: #f9f7f6;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-width: thick;
    display: grid;
    text-align: center;
    transition: all .2s ease-out;
    margin-bottom: 5rem; }
    .dishes__box:hover {
      transform: translatey(-1.5rem); }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .dishes__box:hover {
          transform: translatey(0); } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .dishes__box:hover {
          transform: translatey(0); } }
    .dishes__box p {
      color: #888888;
      font-family: "Nunito", sans-serif;
      font-size: 1.8rem;
      line-height: 1.3;
      padding-left: 2vw;
      padding-right: 2vw;
      margin-bottom: 2rem;
      margin-top: -15px; }
      @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
        .dishes__box p {
          font-size: 1.4vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .dishes__box p {
          font-size: 1.4vw; } }
      @media only screen and (max-width: 85.375em) {
        .dishes__box p {
          font-size: 1.3vw;
          padding-left: 1.3vw;
          padding-right: 1.3vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .dishes__box p {
          font-size: 1.3vw;
          padding-left: 1.3vw;
          padding-right: 1.3vw; } }
      @media only screen and (max-width: 50em), only screen and (hover: none) {
        .dishes__box p {
          font-size: 2.2vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .dishes__box p {
          font-size: 2.2vw; } }
      @media only screen and (max-width: 31.25em) {
        .dishes__box p {
          font-size: 4.6vw;
          padding-left: 3.5vw;
          padding-right: 3.5vw; } }
      @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
        .dishes__box p {
          font-size: 4.6vw;
          padding-left: 3.5vw;
          padding-right: 3.5vw; } }
  .dishes__img {
    width: 100%; }
  .dishes__title {
    display: grid;
    grid-column: full-start / full-end;
    justify-content: center; }
    .dishes__title h1 {
      margin-top: 5rem;
      margin-bottom: 2rem;
      border-bottom: solid #ffce22;
      text-shadow: 2px 2px rgba(236, 27, 15, 0.5);
      border-width: thick; }
  .dishes__link {
    display: grid;
    grid-column: full-start / full-end;
    justify-content: center;
    background-color: #ffce22;
    font-family: "Josefin Sans", sans-serif; }
    .dishes__link a {
      color: #fff; }
    @media only screen and (max-width: 31.25em) {
      .dishes__link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .dishes__link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; } }
  .dishes__name {
    background-color: #ef3f35;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(236, 27, 15, 0.5);
    padding: 2rem 1rem;
    text-align: center;
    transform: translateY(-50%);
    width: 90%;
    margin-left: 5%;
    border-bottom: 2px solid #ef3f35; }

.testimonials {
  background-color: #ef3f35;
  grid-column: full-start / full-end;
  overflow: hidden;
  /*.fa-quote-right  {
    color: rgba($color-secondary, 1);
    font-size: 4rem;
    margin-left: 1rem;
    transform: translateY(-1.5rem);
  } */ }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .testimonials {
      margin-top: 2rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .testimonials {
      margin-top: 2rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .testimonials {
      margin: 0; } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .testimonials {
      margin: 0; } }
  .testimonials .item-1,
  .testimonials .item-2,
  .testimonials .item-3 {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    font-size: 1.5vw;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }
    @media only screen and (max-width: 50em), only screen and (hover: none) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 2.3vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 2.3vw; } }
    @media only screen and (max-width: 31.25em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 4.2vw;
        text-align: center;
        margin-left: 4rem;
        margin-right: 4rem; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 4.2vw;
        text-align: center;
        margin-left: 4rem;
        margin-right: 4rem; } }
    @media only screen and (max-width: 31.25em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 4vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 4vw; } }
    @media only screen and (max-width: 20em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 3.5vw; } }
    @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
      .testimonials .item-1,
      .testimonials .item-2,
      .testimonials .item-3 {
        font-size: 3.5vw; } }
  .testimonials .item-1 {
    animation-name: anim-1;
    transform: translateY(100%); }
  .testimonials .item-2 {
    animation-name: anim-2; }
  .testimonials .item-3 {
    animation-name: anim-3;
    transform: translateY(-100%); }

.contact {
  background-color: #ffce22; }

.menu {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr)); }
  @media only screen and (max-width: 31.25em) {
    .menu {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  @media only screen and (max-width: 23.4375em) and (min-height: 50.75em) {
    .menu {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); } }
  .menu .box-container {
    border-top: solid #ef3f35; }
    .menu .box-container img {
      width: 100%; }
