%heading { //extendor
  font-family: $font-display;
  font-weight: 400;
  text-transform: uppercase;
}

.u-big-title {
  @extend %heading; //include @extend  heading;
  font-size: 4.5vw;
  line-height: 1;

  &--light { color: $color-light;}
  &--dark { color: $color-dark;}

  @include respond(iphone-plus) {
    font-size: 6vw;
  }
}

.u-md-title {
  @extend %heading; //include @extend  heading;
  font-size: 4.5rem;
  line-height: 1;

  &--light { color: $color-light;}
  &--dark { color: $color-dark;}
}

.u-sub-title {
  @extend %heading; //include @extend  heading;
  font-size: 1.4vw;
  line-height: 1;

  &--light { color: $color-light;}
  &--dark { color: $color-dark;}

  @include respond(full-desktop) {
    font-size: 1.4vw;
  }

  @include respond(ipad) {
    font-size: 2.5vw;
  }

  @include respond(iphone-plus) {
    font-size: 4.5vw;
  }
}

//Maring Buttom.
.mb-sm {  margin-bottom: 2rem; }
.mb-md {  margin-bottom: 3rem; }
.mb-lg {  margin-bottom: 4rem; }
.mb-hg {  margin-bottom: 8rem; }
