.dishes {
  background-color: orangered;
  grid-column: full-start / full-end; //define grid columns position.

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}
